
@if (Session["SpotToke"] == null)
{
    <div class="alert-warning">
        <p>If you are seeing this message, please authorize this app if you would like to continue</p>
        <p><a href="/Auth/Spotify" class="btn btn-warning btn-group-lg">Authorize this app</a></p>
    </div>
}
<div class="row">
    @Html.Partial("PlayCreate")
</div>
