
<div class="jumbotron">
    <h1>Are you Authorized?</h1>
    <p class="lead">AUTHORIZE</p>
    <p><a href="/Home/Spotify" class="btn btn-primary btn-lg">Do it</a></p>
</div>
<div class="row">
    @Html.Partial("PlayCreate")
</div>
